{%extends 'layout.html'%}
{%block heading%}
{{ super() }}
<div class="container">
    <h1 class = "grey-text text-lighten-5">The prize awaits</h1>
    <br>
    <p class = "grey-text text-lighten-5 flow-text ">Welcome to Swiggy's first online treasure hunt</p>
    <p class = "flow-text">The rules are simple, keep guessing the answers and beat everyone else to the ultimate reward</p>
</div>
{%endblock%}
{%block content%}
{%if current_user.is_authenticated%}


<div class="container">
<a href="{{url_for('questions',number=current_user.score+1)}}" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Go to Hunt</a>
</div>
{%else%}
<div class="container">
    <a href="{{url_for('home')}}" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Login to Play</a>
</div>
{%endif%}
{%endblock%}