{%extends 'layout.html'%}
{%block heading%}
{%endblock%}
{%block content%}     
            
    
    <div class='container' style = "margin-top: 75px;">
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <h4 class = "black-text" style = "font-family: Rakkas;margin-bottom: 30px;">
                        {{question.quest}}
                    </h4>
                </div>  
                <div class="row">
                    <form method="POST" action="">
                        {{form.hidden_tag()}}
                            <div class="row">
                                <div class="form-group col s7">   
                                    {{form.answer.label()}}
                                    {{form.answer(class="form-control form-control-lg")}}                                
                                 </div>
                            </div>
                            <div class = "row" style = "margin-top: 10px;">
                                {{form.submit(class="btn btn-outline-info")}}
                                <span class="red-text"><i>{{error}}</i></span>
                            </div>
                    </form>

                </div>
                
            </div> 
            <div class="col s6">
                <img src="{{ image_file }}" width="400" height="250">
            </div>
        </div>
    
    
        
        
    </div>

{%endblock%}
