{%extends 'layout.html'%}
{%block heading%}
<div class="container grey-text text-lighten-5">
    <h1>
        The Leaders:
    </h1>
</div>
{%endblock%}

{%block content%}
<div class="container">
<table class="highlight grey lighten-5 centered css-serial">
    <thead>
      <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
      </tr>
    </thead>
    <tbody>
        {%for user in users%}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{user.username}}</td>
        <td>{{user.score}}</td>
      </tr>
        {%endfor%}
      
    </tbody>
  </table>
</div>
{%endblock%}


