{%extends 'layout.html'%}
{%block heading%}
<div class ="container grey-text text-lighten-5" style="margin-bottom:20px;">
    Sign Up
</div>
{%endblock%}

{%block content%}
<div class="container">
    <form method="POST" action="">
        {{form.hidden_tag()}}
            <div class="row card-panel ">
                <div class="form-group  col-s6">
                    {{form.username.label(class="form-control-label")}}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid">
                                {% for error in form.username.errors %}
                                    <span class="red-text">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group  col-s6">
                    {{form.email.label(class="form-control-label")}}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid">
                                {% for error in form.email.errors %}
                                    <span class="red-text">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group col-s6">
                    {{form.password.label(class="form-control-label")}}
                    {{form.password(class="form-control form-control-lg")}}

                </div>

                <div class="form-group col-s6">
                    {{form.confirm_password.label(class="form-control-label")}}
                    {{form.confirm_password(class="form-control form-control-lg")}}
                </div>
            </div>
        <div>
            {{form.submit(class="btn btn-outline-info")}}
        </div>
        <div style = "margin-top: 10px;">
            <div class = "grey-text text-lighten-5">
                Already have an account?
                <a href="{{url_for('home')}}" >Login</a>
            </div> 
            
        </div>
        
    </form>
</div>
{%endblock%}